{% extends 'base.html.twig' %}
    {% block content %}
        <main>
             <div class="titre">VETEMENT</div>

        {% for vetement in vetements %}
            <article class="articleList">
                <div class="articleListImg">
                    <div class="imgArticle">
                        <img src="{{ asset ('img/vetement/'~vetement.id~'.jpg')}}" alt="{{ vetement.name }}" class="resp">
                    </div>
                    <div>
                        <div>
                            <a href="{{ path ('vetementid', {'id':vetement.id}) }}">{{ vetement.name }} </a>
                        </div>
                    </div>
                </div>
                <div class="articleListPrix">
                    {{ vetement.price }} €
                </div>
            </article>
        {% endfor %}
        </main>

    {% endblock %}