<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Alexandre Jimenez">
    <meta name="description" content="Esport, Jeux vidéo">
    <meta name="keywords" content="esport, périphérique, vêtement, accessoire">
    <title>Esport-Shop !</title>
    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
</head>
<body>
<header class="sticky">
    <nav class="myHeader">
        <div class="headerMenu" >
            <div class="logo">
                <h1><a href="{{ path ('accueil') }}">ESPORT-SHOP</a></h1>
                <p>Available now !</p>
            </div>

            <div class="client">
                <div class="compte">
                    <div class="logoflat">
                        <img src="{{ asset ('img/compte.png') }}" alt="" class="resp">
                    </div>
                    <a href="{{ path ('compte') }}">
                        Compte
                    </a>
                </div>
                <div class="commande">
                    <div class="logoflat">
                        <img src="{{ asset ('img/commande.png') }}" alt="" class="resp">
                    </div>
                    <a href="">
                        Commandes
                    </a>
                </div>
                <div class="panier">
                    <div class="logoflat">
                        <img src="{{ asset ('img/panier.png') }}" alt="" class="resp">
                    </div>
                    <a href="">
                        Panier
                    </a>
                </div>

            </div>
        </div>
        <div class="team">
            <div class="logoEquipe">
                <a href=""><img src="{{ asset ('img/solary_logo.png') }}" alt="Equipe Solary" class="resp"></a>
            </div>
            <div class="logoEquipe">
                <a href=""><img src="{{ asset ('img/vitality_logo.png') }}" alt="Equipe Vitality" class="resp"></a>
            </div>
            <div class="logoEquipe">
                <a href=""><img src="{{ asset ('img/lestream_logo.png') }}" alt="Equipe LeStream" class="resp"></a>
            </div>
        </div>
        <div class="menu">
            <a class="sousmenu" href="{{ path ('vetement_admin') }}">Vêtement</a>
            <a class="sousmenu" href="{{ path ('peripherique_admin') }}">Périphérique</a>
            <a class="sousmenu" href="{{ path ('accessoire_admin') }}">Accessoire</a>
        </div>
    </nav>
</header>