{% extends 'base.html.twig' %}
{% block content %}
    <main>
        <div class="titreAccueil">
            <div class="nouveaute">
                NOUVEAUTÉ ET DERNIER COUP DE
            </div>
            <div class="imgCoeur">
                <img src="{{ asset('img/coeur.png') }}" alt="Coeur" class="resp">
            </div>
        </div>
        {% for peripherique in peripheriques %}
            <article class="articleList">
                <div class="articleListImg">
                    <div class="imgArticle">
                        <img src="{{ asset ('img/peripherique/'~peripherique.id~'.jpg')}}" alt="{{ peripherique.name }}" class="resp">
                    </div>
                    <div>
                        <div>
                            <a href="{{ path ('peripheriqueid', {'id':peripherique.id}) }}">{{ peripherique.name }} </a>
                        </div>
                    </div>
                </div>
                <div class="articleListPrix">
                    {{ peripherique.price }} €
                </div>
            </article>
        {% endfor %}
        </div>
    </main>
{% endblock %}